
      body {
        background-color: rgb(255, 246, 232);
        width: 100%;
        min-height: 100vh;
        font-family: lato;
      }
      p,
      span,
      h1,
      h2,
      h3,
      h4,
      a {
        margin: 0px;
        padding: 0px;
      }
      a {
        text-decoration: none;
      } 

      .beranda {
        margin-bottom: 30px;
        padding-bottom: 75px;
      }

      .login-page h2 {
        font-size: 1.5rem;
        padding-top: 20px;
      }
      .container {
        display: flex;
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        border-bottom: 1px solid rgb(235, 235, 235);
      }
      
      .header-container {
        display: flex;
        margin: 5px auto;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        max-width: 1400px;
      }
      .logo {
        margin-left: 0px;
        width: 100%;
      }

      
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        flex: 1;
      }
      .login-page {
        width: 95%;
        max-width: 400px;
        min-height: 350px;
        padding: 5px 15px 20px 15px;
        border: none;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: white;
        margin: auto;
      }
      .masuk-akun {
        font-family: lato;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
      }
      .masuk-desc {
        color: rgb(77, 77, 77);
        font-size: 12px;
        font-weight: normal;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      .input-field:focus {
        outline: none;
      }
      .lupa-pass {
        display: flex;
        justify-content: flex-end;
      }
      .lupa-pass a {
        font-size: 13px;
        font-family: lato;
        color: rgb(77, 77, 77);
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
      }
      .button-masuk,
      .button-daftar,
      .button-google {
        font-family: lato;
        width: 100%;
        border: none;
        font-weight: bold;
        padding: 8px 0px 8px 0px;
        border-radius: 8px;
        margin-bottom: 10px;
        font-size: 13px;
        cursor: pointer;
        
      }
      .button-masuk {
        background-color: rgb(0, 214, 0);
        color: white;
      }
      .button-masuk:active {
        transform: translateY(1px);
      }
      .button-daftar {
        background-color: rgb(227, 255, 227);
        color: rgb(0, 214, 0);
      }
      .button-daftar:active {
        transform: translateY(1px);
      }
      .button-google {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(243, 243, 243);
        color: rgb(77, 77, 77);
        padding: 0px;
      }
      .button-google:active {
        transform: translateY(1px);
      }
      .google-logo {
        width: 40px;
      }
      .separator {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(77, 77, 77);
        margin-bottom: 10px;
      }
      .separator::before,
      .separator::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid rgba(128, 128, 128, 0.342);
        margin: 5px;
      }
      .input-group {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
      }

      .input-field {
        width: 100%;
        
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 12px 10px;
        font-size: 13px;
        box-sizing: border-box;
      }
      .input-label {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: lato;
        color: rgb(77, 77, 77);
        transition: all 0.2s ease;
        pointer-events: none;
        font-size: 13px;
      }

      .input-label#phone {
        left: 22%;
      }

      .input-field#phone:focus + .input-label#phone,
      .input-field#phone:valid + .input-label#phone {
        top: -8px;
        left: 8px;
        font-size: 11px;
        background-color: white;
        padding: 0 4px;
        color: rgb(0, 214, 0);       
      }

      .input-wrapper {
        display: flex;
        gap: 5px;
        align-items: stretch;
      }

      .country-code {
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 0 10px;
        background-color: white;
        margin-right: 10px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
      }

      .input-field:focus + .input-label,
      .input-field:valid + .input-label {
        top: -8px;
        left: 8px;
        font-size: 11px;
        background-color: white;
        padding: 0 4px;
        color: rgb(0, 214, 0);
      }
      .req {
        color: red;
      }

      .toggle-pass {
        position: absolute;
        right: 15px;
        top: 31%;
        width: 12px;
        height: 15px;
        opacity: 75%;
        cursor: pointer;
        user-select: none;
      }

    

      .profile-icon {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 3;
        right: 0;
        border-radius: 5px;
        padding: 5px 0;
      }

      .profile-icon:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        font-size: 1rem;
        font-family: lato;
      }

      .dropdown-content a:hover {
        background-color: rgb(168, 168, 168);
      }

      .profile-icon img{
       
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      

      .main-nav {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
      }

      .nav-item {
        font-weight: bold;
        color: rgb(77, 77, 77);
        cursor: pointer;
      }


      .hero-section-top,
      .hero-section-bot {
        background-image: url(https://ik.imagekit.io/stpnd/Mission3A/background.jpg?tr:q-80);
        background-size: cover;
        background-position: center;
        padding: 40px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        margin: auto;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        min-height: 60vh;
        width: 95%;
        max-width: 1400px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
      }
      .hero-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
      }
      .hero-content {
        max-width: 80%;
        max-height: 800px;
        z-index: 1;
      }

      .hero-h1 {
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      .hero-desc {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .hero-button {
        
        width: 50%;
        font-family: lato;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 20px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: rgb(0, 214, 0);
        cursor: pointer;
        margin-top: 20px;

      }
      .hero-button:active {
        transform: translateY(1px);
      }

      .course-section {
        padding: 40px 20px;
        border-radius: 25px;
        width: 95%;
        margin: auto auto 45px auto;
        max-width: 1400px;
      }

      .course-container {
        margin: 0 auto;
      }

      .course-section h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .course-section p {
        color: rgb(77, 77, 77);
        margin-bottom: 30px;
        font-size: 1rem;
      }

      .category-nav {
        display: flex;
        gap: 20px;
        border-bottom: 1px solid rgb(235, 235, 235);
        padding-bottom: 15px;
        font-family: lato;
        margin-bottom: 30px;
        font-size: 1.2rem;
        overflow-x: auto;
      }

      .nav-item {
        font-weight: normal;
        text-decoration: none;
        position: relative;
        padding-bottom: 10px;
        color: rgb(77, 77, 77);
        cursor: pointer;
      }

      .nav-item.active {
        color: orangered;
        font-weight: bold;
      }

      .nav-item.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: orangered;
      }

      .category-nav .nav-item {
        white-space: nowrap;
        color: rgb(77, 77, 77);
        padding: 5px 0;
      }

      .category-nav .nav-item.active {
        color: orangered;
        border-bottom: 2px solid orangered;
        font-weight: bold;
      }

      .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 50px;
        row-gap: 75px;
        margin-top: 30px;
      }

      .course-card {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 20px;
        
        height: 100%;
        
      }

     

      .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        border-radius: 20px;
         
      }

      .card-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .card-desc {
        font-size: 1.1rem;
        color: rgb(77, 77, 77);
        margin-bottom: 15px;
      }

      .card-instructor {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
      }
      
      .instructor-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        
      }

      .instructor-info {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
      }

      .instructor-name {
        font-weight: bold;
        font-size: 1rem;
      }

      .instructor-role {
        color: rgb(77, 77, 77);
        margin-bottom: 11px;
        font-size: 1rem;
      }

      .card-rating {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .stars {
        color: orange;
        font-size: 20px;
        letter-spacing: 1px;
      }

      .rating-text {
        font-size: 15px;
        color: rgb(77, 77, 77);
        padding-top: 3px;
      }

 
      .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
      }

      .card-price {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(0, 214, 0);
      }

      .card-link {
        text-decoration: none;
        color: black;
      }

      .hero-h2 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      .subs-box {
        width: 50%;
        font-family: lato;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        padding: 5px;
        margin: auto;
      }

      .subs-input {
       flex: 1;
       border: none;
       outline: none;
       padding: 10px;
       font-size: 1.2rem;
       border-radius: 20px;
      }

      .subs-button {
        width: 25%;
        background-color: rgb(255, 185, 54);
        color: white;
        font-family: lato;
        font-weight: bold;
        padding: 10px ;
        border-radius: 15px;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
      }
    
      .subs-button:active {
        transform: translateY(1px);
      }
      
      footer {
        background-color: white;
        padding: 40px 0 20px 0;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
        border-top: 1px solid rgb(235, 235, 235);
        font-family: lato;
      }

      .footer-container-desktop {
        width: 95%;
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;
        padding: 20px;
        flex-wrap: wrap;
      }

      .footer-main {
        width: 95%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        margin: auto auto 30px auto;
        flex-wrap: wrap;
      }

      .footer-left {
        flex: 1;
        min-width: 300px;
        margin-right: 20px;
        
      }

      .footer-left p {
        margin: 5px 0;
        color: rgb(77, 77, 77);
        
      }

      .footer-left .logo {
        margin-left: -22px;
      }

      .footer-right {
        display: flex;
        gap: 50px;
      }

      .footer-column h4 {
        margin-bottom: 15px;
        font-weight: bold;
      }

      .footer-column ul {
        list-style: none;
        padding: 0;
      }

      .footer-column ul li a {
        text-decoration: none;
        color: rgb(77, 77, 77);
        display: block;
        margin-bottom: 15px;
      }

      .footer-bottom {
        width: 95%;
        margin: auto;
        border-top: 1px solid rgb(235, 235, 235);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }

      .footer-bottom p {
        margin-top: 15px;
        font-size: 12px;
        color: rgb(77, 77, 77);
      }
      
      .social-icons img{
        width: 30px;
        margin-left: 15px;
        margin-top: 15px;
      }

      .footer-container-mobile {
        display: none;

      }
      
      @media (max-width: 480px) {
       .login-page {
        width: 90%;
        padding: 20px;
        min-height: auto;
        margin-top: 20px;
       }

        footer {
          padding: 0;
          width: 100%;
        }

       .header-container {
        width: 90%;
       }
       .logo img {
        height: 30px;
       }

       .masuk-akun {
        font-size: 1.3rem;
       }

       .masuk-desc {
        font-size: 11px;
        text-align: center;
       }
       .button-daftar,
       .button-masuk,
       .button-google {
        padding: 12px 0;
        font-size: 14px;
        margin-bottom: 12px;
       }

       .toggle-pass {
        top: 32%;
        right: 12px;
       }

       .input-field {
        padding: 15px 12px;
        font-size: 14px;

       }

       .input-label {
        padding: 1%;
       }

       .input-field:focus + .input-label,
       .input-field:valid + .input-label {
        top: -10px;
        font-size: 12px;
       }

       .main {
        height: auto;
        padding-top: 80px;
        padding-bottom: 40px;
       }

       .hero-h1 {
        font-size: 1.8rem;
       }

       .hero-desc {
        font-size: 1rem;
       }

       .hero-button {
        width: 100%;
        font-size: 1rem;
       }

       .card-grid {
        grid-template-columns: 1fr;
        gap: 30px;
       }
       
       .category-nav {
        gap: 15px;
        font-size: 0.9rem;
       }

       .course-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
       }

       .card-img {
        width: 120px;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
        margin-right: 10px;
       }

       .card-content {
        padding: 0;
        flex-grow: 1;
       }

       .card-title {
        font-size: 0.9rem;
        margin-bottom: 10px;

       }

       .card-desc {
        display: none;
       }

       .card-instructor {
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
       }

       .instructor-name {
        font-size: 0.8rem;
        
       }

       .instructor-role {
        font-size: 0.7rem;
       }

       .card-footer {
        padding-top: 5px;
        margin-top: 5px;
       }

       .card-price {
        font-size: 1.2rem;
        
       }

       .stars,
       .rating-text {
        font-size: 0.8rem;
       }
       
       .card-rating {
        gap: 0;   
       }
       
       .subs-box {
        width: 100%;
       }

       .subs-input {
        padding: 10px;
        font-size: 0.8rem;
       }

       .subs-button {
        font-size: 0.8rem;
       }

       .footer-container-desktop {
        display: none;
       }

       .footer-container-mobile {
        display: block;
        background-color: white;
        width: 90%;
        margin: auto;
        padding: 30px 0 0 0;
       }

       .footer-container-mobile .logo img{
        object-fit: cover;
        width: 80%;
        justify-content: center;
        display: flex;
        margin: auto;
        padding-bottom: 20px;
       }

       .footer-container-mobile p {
        color: rgb(77, 77, 77);
       }

       .footer-container-mobile h3 {
        margin: 10px 0;
       }

       .footer-nav-links {
        margin-top: 20px;
       }

       .footer-nav-links a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        color: black;
        font-size: 1rem;
        
       }

       summary {
        margin: 10px;
       }

       details {
        margin: 20px 10px;
        font-weight: bold;
       }

       .submenu {
        font-weight: normal;
       }

       .footer-detail summary {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 0;
        color: black;
        font-size: 1rem;
        cursor: pointer;
        list-style: none;
       }

       .footer-detail summary::-webkit-detail-marker {
        display: none;
       }

       .submenu a {
        padding: 5px 15px;
        color: rgb(77, 77, 77);
        font-size: 0.9rem;
        display: block;
     
       }

       .social-icons {
        display: flex;
        gap: 10px;
        margin: 25px 0;
        border-top: 1px solid rgb(235, 235, 235);
       }

       .copy-p {
        font-family: lato;
        width: 95%;
        margin: auto;
        padding-bottom: 30px;
       }
      }